@font-face {
  font-family: "Lack";
  font-display: swap;
  src: url("../fonts/lack-italic.woff") format("woff"), url("../fonts/lack-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Lack Line";
  font-display: swap;
  src: url("../fonts/lack-line-italic.woff") format("woff"), url("../fonts/lack-line-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Lack";
  font-display: swap;
  src: url("../fonts/lack-regular.woff") format("woff"), url("../fonts/lack-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lack Line";
  font-display: swap;
  src: url("../fonts/lack-line-regular.woff") format("woff"), url("../fonts/lack-line-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Golos";
  font-display: swap;
  src: url("../fonts/Golos-Text_Medium.woff") format("woff"), url("../fonts/Golos-Text_Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}